NODE_ENV=development
APP_URL=YOUR_FRONTEND_URL
PORT = 3000

JWT_SECRET=YOUR_TOKEN_SECRET_KEY
JWT_EXPIRY=TOKEN_EXPIRY IN HOURS LIKE 24h for 24 hours session.

AUTH_COOKIE_EXPIRY=TOKEN_EXPIRY_TIME_IN_MS

MONGODB_URI=YOUR_MONGODB_URI

COMPANY_GMAIL = YOUR_COMPANY'S_MAIL
GOOGLE_APP_PASSWORD = YOUR_GOOGLE_APP_PASSWORD
SUPPORT_MAIL=YOUR_SUPPORT_EMAIL
